body{
    
    background-color: rgb(225, 200, 151);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}
.container{
    margin: 1%;
    display:flex;
    flex-wrap: wrap;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.cell{
    height: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(243, 243, 243,0.5) inset;
    background-color: white;

}
.controls{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}
.button, input{
    margin-bottom: 20%;
}
label{
    text-align: center;    
    font-weight: bold;
}
.button{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    padding-bottom: 10%;
    padding-top: 10%;
    border: none;    
    font-weight: bold; 
    box-shadow: 0 0 10px black;
}
#random-button{
    background-color: rgb(219, 153, 72);
}
#erase-button{
    background-color: rgb(226, 93, 93);
    
}
#pencil-button{
    background-color:black;
    color: white;}

h1, footer{
    padding: 0% 5% ;
    display: flex;
    justify-content: flex-end;
}
h1{
    width: 50%;
    justify-self: flex-end;
    padding-bottom: 1%;     
    padding-top: 1%;
    font-family: "Unica One";
    font-size: 3em;
    background-color: rgb(179, 129, 64);
}
footer{
    padding-top: 2%;
    font-style: italic;
    color: rgb(80, 80, 80);
    margin-top:auto;
    margin-bottom: 1%;
    
}
